*,
*:before,
*:after {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color: black;
}

header {
    width: 100%;
    background: #3B5998;
    height: 83px;
    top: 0;
}

.title
{
    font-size: 35px;
    color: white;
    -webkit-margin-start: 10px;
    float: left;
    -webkit-margin-end: 10px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

#main {
    padding: 5px;
    clear: both;
    /*text-align: center;*/
}

/* Sign up page - not logged in */

#login {
    float: right;
}

.account-action label {
    color: #fff;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.account-action .btn {
    background: #F77444;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

#main li {
    padding: 5px;
}

#main-announce {
    float: left;
    padding-left: 1%;
}

#main-sign-up {
    float: right;
    padding-right: 1%;
}

.signup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.sign-up-other-info {
    display: block;
    padding: 5px;
}

#signup-email, #signup-password, #signup-password-confirm, #signup-gender {
    grid-column: 1 / 3;
}

#gender-female-label {
    padding-right: 10%;
}

.account-signup .btn {
    background: green;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    grid-row: 13 / 19;
}

/* About page - logged in */
#about-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
}

header .title {
    grid-column: 1 / span 1;
}

#logged-in {
    padding: 5px;
    padding-top: 16px;
    padding-right: 20px;
    grid-column: 3 / span 1;
    text-align: right;
    display: table;
    margin-left: auto;
}

.logged-in-name {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    /* center vertically */
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}

.search .btn {
    background: #F77444;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#search {
    grid-column: 2 / span 1;
    padding-top: 26px;
}

#search-box {
    width: 75%;
}

/*.below-header {
    display: inline-block;
}*/
#main-header {
    display: grid;
    grid-template-columns: 175px 4fr;
    grid-template-rows: 5.65fr 3.8fr 1fr;
    position: relative;
}

#main-content {
    display: inline-block;
}

.cover-photo {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    border: solid;
    border-width: 0.5px;
    color: darkgray;
}

.big-profile-photo {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border: solid;
    border-width: 0.5px;
    color: darkgray;
}

#main-header .title {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: left;
    display: table-cell;
    vertical-align: bottom;
    position: absolute;
    top: 50%;
}

nav {
    color: darkgray;
}

.timeline, .about, .photos, .friends {
    /*display: inline-block;*/
    /*margin: 0 10px;*/
    border: solid;
    border-width: 0.5px;
    /*background-color: gray;*/
    height: 100%;
    /*padding: 5px;*/
    font-weight: bolder;
    cursor: pointer;
    padding: 0 17px;
    vertical-align: middle;
    /*color: darkgray;*/
    /*clear: both;*/
}

.about {
    color: black;
}

.edit-profile {}

